body {
  font-family: 'Roboto';
}

span {
  /*margin: 0 4px 0 0;*/
  display: inline-block;
  font-size: 16px;
  margin-bottom: 3px;
}

input:invalid {
  background-color: pink;
}

.stat {
  min-width: 110px;
}

.inactive,
input:disabled {
  background-color: rgba(0,0,0,0);
  opacity: .7;
}

.log {
  font-size: 12px;
}

.log:first-of-type {
  font-size: 18px;
}

input {
  border: 1px #fff solid;
  display: inline-block;
  color: #358;
  font-family: 'Roboto';
  font-size: 15px;
}

input[type=number] {
  -moz-appearance: textfield;
  text-align: right;
  width: 26px;
}

input[name="delay"] {
  width: 36px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#targetlvl,
#armor,
#charlvl,
#charhit,
#charcrit,
#charap {
  width: 40px;
}

#duration {
  width: 140px;
  text-align: left;
}

#talents {
  width: 600px;
}
